<div class="px-2 sm:px-8 md:px-24 lg:px-48 xl:px-72">

  <div class="flex flex-row items-center justify-between px-3 my-8 font-sen">
    <div>
      <p class="text-3xl font-bold text-white">Santhosh M</p>

      <p class="mt-4 text-gray-400">
        I'm a full-stack developer🧑‍💻 with a passion for Angular ⚡, Flutter📱 and NestJS 🚀 (Node.js Framework).<br/>
        I love working with the TypeScript programming language 💻 and learning new ways to tackle common problems 🧠.<br/>
        I strive to write clean ✨, maintainable 🛠️, and scalable 📈 code that follows best practices and design patterns 📚.<br/>
        I enjoy refactoring code 🔄 to improve readability 📖 and efficiency ⚙️, and I’m always eager to adopt modern techniques 🔧 to enhance development workflows 🌟.<br/>
      </p>

    </div>

    <div class="flex flex-col items-center space-y-6">
      <img
        src="logo/logo-transparent-svg.svg"
        width="250"
        alt="avatar"
      />
    </div>
  </div>

  <div class="px-3 my-16 text-white font-sen" id="skills">
    <p class="text-3xl font-bold text-white">Skills & Uses</p>
    <div
      class="flex flex-col my-8 font-medium text-md md:text-xl custom:text-lg"
    >
      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <span class="text-white">Typescript & Dart </span>
        &nbsp;as my Programming Language
      </p>
      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <span class="text-white">Angular with TailwindCss</span>
        &nbsp;as my Web App Development Frontend Stacks 
      </p>
      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <span class="text-white">Flutter and Ionic (Angular) </span>
        &nbsp;as my Mobile App Development Stacks 
      </p>
      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <span class="text-white">NestJs with Prisma (Mysql and PostgreSql) </span>
        &nbsp;as my Backend Stacks
      </p>
      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <span class="text-white">Docker, Github Actions, and Github Packages </span> &nbsp; <span class="text-gray-400 italic text-sm">
          (I have developer-level experience and do not consider myself an expert.)
        </span>
        &nbsp;as my DevOps Stacks  
      
      </p>

      <p
        class="flex flex-row items-center border-b-[0.1px] border-gray-500 py-1 text-slate-300"
      >
        <span class="text-white">Github Repository and Github Project</span>
        &nbsp;as my SCM and Project Management Stacks
      </p>
    </div>

    <p class="text-lg font-medium text-slate-300">
      ...more skills include <span class="text-white">Microservice</span>,
      <span class="text-white">AWS</span>,
      <span class="text-white">BullMQ</span>,
      <span class="text-white">Redis</span>,
      <span class="text-white">Kubernetes</span>,
      <span class="text-white">PWA</span>,
      <span class="text-white">Plop.js</span>,
      <span class="text-white">and more.</span>
    </p>
  </div>

  <div class="px-3 font-sen" id="contact">
    <p class="text-3xl font-bold text-white">Get in touch</p>

    <div class="flex flex-row justify-center my-8 gap-x-4">
      <a href="https://github.com/santhosh-pro" passHref>
        <img src="images/github.svg" width="25" />
      </a>
      <a href="https://www.upwork.com/freelancers/~017cd41b09fd764257" passHref>
        <img src="images/upwork.png" width="25" />
      </a>
      <a href="https://www.linkedin.com/in/santhosh-pro/" passHref>
        <img src="images/linkedin.svg" width="25" />
      </a>
      <a href="mailto:santhosh@flyweight.com" passHref>
        <img src="images/gmail.svg" width="25" />
      </a>
    </div>

    <div class="text-center mt-6">
      <p class="text-xl font-bold text-blue-400">
        <strong>Business Name:</strong> Flyweight Soft (Sole Proprietorship)
      </p>
      <p class="text-lg font-medium text-yellow-200">
        <strong>Billing Name:</strong> Santhosh M
      </p>
    </div>
  </div>
</div>