<div class="px-4 sm:px-8 md:px-24 lg:px-48 xl:px-72 min-h-screen flex flex-col justify-between bg-gray-900">
  <!-- Header Section -->
  <div class="flex flex-col sm:flex-row items-center sm:justify-between flex-grow-0 font-sen">
    <!-- Logo Section -->
    <div class="flex flex-col items-center space-y-6 w-full sm:w-auto order-1 sm:order-none">
      <img 
        src="logo/logo-transparent-svg.svg" 
        class="w-40 sm:w-60 lg:w-64 max-w-full h-auto object-contain" 
        alt="avatar" 
      />
    </div>
    <!-- Info Section -->
    <div class="order-2 sm:order-none text-left sm:text-left">
      <p class="text-3xl font-bold text-white">Santhosh M</p>
      <ul class="mt-4 text-gray-400 list-disc pl-5 sm:pl-0 space-y-2">
        <li>
          I'm a full-stack developer 🧑‍💻 with a passion for 
          <span class="text-white">Angular ⚡, Flutter 📱,</span> and 
          <span class="text-white">NestJS 🚀 (Node.js Framework).</span>
        </li>
        <li>
          I strive to write 
          <span class="text-white">clean ✨, maintainable 🛠️,</span> and 
          <span class="text-white">scalable 📈 code</span> that follows best practices and design patterns 📚.
        </li>
        <li>
          I enjoy refactoring code 🔄 to improve 
          <span class="text-white">readability 📖</span> and 
          <span class="text-white">efficiency ⚙️.</span>
        </li>
        <li>
          I’m always eager to adopt modern techniques 🔧 to enhance 
          <span class="text-white">development workflows 🌟.</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="my-8 text-white font-sen" id="skills">
    <p class="text-2xl sm:text-3xl font-bold text-white">Skills & Uses</p>
    <div class="flex flex-col mt-6 space-y-4 font-medium text-sm sm:text-base md:text-lg">
      <!-- Skill Item -->
      <div class="flex flex-col sm:flex-row items-start sm:items-center border-b border-gray-500 pb-2">
        <span class="text-white font-semibold">Typescript & Dart</span>
        <span class="text-slate-300 sm:ml-2">as my Programming Language</span>
      </div>
      <!-- Skill Item -->
      <div class="flex flex-col sm:flex-row items-start sm:items-center border-b border-gray-500 pb-2">
        <span class="text-white font-semibold">Angular with TailwindCss</span>
        <span class="text-slate-300 sm:ml-2">as my Web App Development Frontend Stacks</span>
      </div>
      <!-- Skill Item -->
      <div class="flex flex-col sm:flex-row items-start sm:items-center border-b border-gray-500 pb-2">
        <span class="text-white font-semibold">Flutter and Ionic (Angular)</span>
        <span class="text-slate-300 sm:ml-2">as my Mobile App Development Stacks</span>
      </div>
      <!-- Skill Item -->
      <div class="flex flex-col sm:flex-row items-start sm:items-center border-b border-gray-500 pb-2">
        <span class="text-white font-semibold">NestJs with Prisma (Mysql and PostgreSql)</span>
        <span class="text-slate-300 sm:ml-2">as my Backend Stacks</span>
      </div>
      <!-- Skill Item -->
      <div class="flex flex-col sm:flex-row items-start sm:items-center border-b border-gray-500 pb-2">
        <span class="text-white font-semibold">Docker, Github Actions, and Github Packages</span>
        <span class="text-slate-300 sm:ml-2 italic text-sm">
          (I have developer-level experience and do not consider myself an expert.) as my DevOps Stacks
        </span>
      </div>
      <!-- Skill Item -->
      <div class="flex flex-col sm:flex-row items-start sm:items-center border-b border-gray-500 pb-2">
        <span class="text-white font-semibold">Github Repository and Github Project</span>
        <span class="text-slate-300 sm:ml-2">as my SCM and Project Management Stacks</span>
      </div>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="px-3 font-sen flex-grow-0" id="contact">
    <p class="text-3xl font-bold text-white">Get in touch</p>
    <div class="flex flex-row justify-center my-4 gap-x-4">
      <a href="https://github.com/santhosh-pro" passHref>
        <img src="images/github.svg" class="w-6" alt="GitHub" />
      </a>
      <a href="https://www.upwork.com/freelancers/~017cd41b09fd764257" passHref>
        <img src="images/upwork.png" class="w-6" alt="Upwork" />
      </a>
      <a href="https://www.linkedin.com/in/santhosh-pro/" passHref>
        <img src="images/linkedin.svg" class="w-6" alt="LinkedIn" />
      </a>
      <a href="mailto:santhosh@flyweight.com" passHref>
        <img src="images/gmail.svg" class="w-6" alt="Gmail" />
      </a>
    </div>
    <div class="text-center mt-4">
      <p class="text-sm font-medium text-blue-400">
        <strong>Business Name:</strong> Flyweight Soft (Sole Proprietorship)
      </p>
      <p class="text-sm font-medium text-amber-400">
        <strong>Billing Name:</strong> Santhosh M
      </p>
    </div>
  </div>
</div>