<div class="px-4 sm:px-8 md:px-16 lg:px-24 xl:px-24 2xl:px-48 min-h-screen flex flex-col justify-between">
  <!-- Header Section -->
  <div
  class="flex flex-col lg:flex-row items-center lg:items-start justify-between font-sen space-y-6 lg:space-y-0 lg:space-x-10 xl:space-x-16 p-2 lg:p-2">
  <!-- Logo Section -->
  <div
    class="flex-shrink-0 flex flex-col items-center lg:items-start space-y-6 w-full lg:w-1/3">
    <img src="logo/logo-transparent-svg.svg" class="w-40 sm:w-60 lg:w-64 xl:w-72 max-w-full h-auto object-contain"
      alt="avatar" />
  </div>
  <!-- Info Section -->
  <div class="text-left flex-grow">
    <p class="text-2xl lg:text-4xl xl:text-2xl font-bold text-white md:mt-12">
      Santhosh M - FlyweightSoft | Full-Stack Developer
    </p>
    <p class="mt-4 text-gray-400">
      At <span class="text-white font-bold">FlyweightSoft</span>, a 
      <span class="text-white font-bold">sole proprietorship firm</span>, 
      top-notch software development services are provided, specializing in 
      <span class="text-white font-bold">Angular ⚡, Flutter 📱,</span> and 
      <span class="text-white font-bold">NestJS 🚀 (Node.js Framework).</span> 
      The primary focus is on delivering 
      <span class="text-white font-bold">clean ✨, maintainable 🛠️,</span> and 
      <span class="text-white font-bold">scalable 📈 code</span> that adheres to 
      <span class="text-white font-bold">industry best practices</span> and follows 
      <span class="text-white font-bold">proven design patterns 📚.</span>
    </p>
    <p class="mt-4 text-gray-400">
      Emphasis is placed on
      <span class="text-white font-bold">refactoring code 🔄</span> to enhance
      <span class="text-white font-bold">readability 📖</span> and
      <span class="text-white font-bold">efficiency ⚙️,</span> while continually
      adopting <span class="text-white font-bold">modern techniques 🔧</span>
      to improve <span class="text-white font-bold">development workflows 🌟.</span>
    </p>
    <p class="mt-4 text-gray-400">
      My passion for technology and problem-solving drives me to deliver software solutions that make a real impact. At FlyweightSoft, I aim to turn ideas into reality through clean code and modern tools.
    </p>
</div>

</div>


<div class="my-3 text-white font-sen" id="services">
  <p class="text-2xl font-bold text-white">Services Offered</p>
  <div class="flex flex-col mt-6 space-y-6 font-medium text-sm sm:text-base md:text-lg">
    <!-- Web App Development Section -->
    <div class="border-b border-gray-500 pb-6">
      <!-- Title Section -->
      <span class="text-white font-semibold text-xl block">
        🌐 Web App Development
      </span>
      <!-- Description Section -->
      <p class="text-slate-300 mt-2">
        We excel in building fast, scalable web applications with Angular and TailwindCSS for responsive designs, paired with robust backends using NestJS and Prisma. From sleek interfaces to secure and scalable APIs, we deliver complete web solutions that ensure seamless performance across devices. 🌍
      </p>
    </div>

    <!-- Mobile App Development Section -->
    <div class="border-b border-gray-500 pb-6">
      <!-- Title Section -->
      <span class="text-white font-semibold text-xl block">
        📱 Mobile App Development
      </span>
      <!-- Description Section -->
      <p class="text-slate-300 mt-2">
        With Flutter and Ionic, we create high-performance cross-platform mobile applications that run on both iOS and Android, while maintaining a native feel. By combining Angular for web and Flutter for mobile, we ensure code reusability and faster time-to-market for your app. ⏱️
      </p>
    </div>

    <!-- DevOps Section -->
    <div class="border-b border-gray-500 pb-6">
      <!-- Title Section -->
      <span class="text-white font-semibold text-xl block">
        ⚙️ DevOps
      </span>
      <!-- Description Section -->
      <p class="text-slate-300 mt-2">
        We offer containerization services using Docker to create portable and scalable applications. Leveraging GitHub Actions for Continuous Integration (CI) and Continuous Deployment (CD), we automate the entire deployment pipeline for efficient development workflows. 🚀
      </p>
    </div>
  </div>

  <p class="text-sm font-medium text-slate-300 mt-4">
    Additional services include: 
    <span class="text-white">💻 Microservices Architecture</span>, 
    <span class="text-white">📊 Apache Superset Dashboards</span>, 
    <span class="text-white">⚡ Redis Integration</span>, 
    <span class="text-white">🌐 PWA Development</span>, 
    <span class="text-white">📂 Plop.js Scaffolding</span>, 
    and more. 🌟
  </p>
</div>

  <!-- Contact Section -->
  <div class="mt-6 px-3 font-sen flex-grow-0" id="contact">
    <p class="text-3xl text-center font-bold text-white">Get in touch</p>
    <div class="flex flex-row justify-center my-4 gap-x-4">
      <a href="https://github.com/santhosh-pro" passHref>
        <img src="images/github.svg" class="w-6" alt="GitHub" />
      </a>
      <a href="https://www.upwork.com/freelancers/~017cd41b09fd764257" passHref>
        <img src="images/upwork.png" class="w-6" alt="Upwork" />
      </a>
      <a href="https://www.linkedin.com/in/santhosh-pro/" passHref>
        <img src="images/linkedin.svg" class="w-6" alt="LinkedIn" />
      </a>
      <a href="mailto:santhosh@flyweight.com" passHref>
        <img src="images/gmail.svg" class="w-6" alt="Gmail" />
      </a>
    </div>
    <div class="text-center mt-4 py-4">
      <p class=" text-gray-400 italic">
        Please note: While <span class="text-white font-bold">FlyweightSoft</span>
        is the name of my firm, I am the sole individual managing all operations,
        and all billing is processed under my personal name,
        <span class="text-white font-bold">Santhosh M.</span>
      </p>
    </div>
  </div>
</div>